<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="msg">
      Cargando token de pushbullet...
    </div>

    <script>
function redirect() {
    window.location.href = "{{app_url}}";
}

$( document ).ready(function() {
  var token = document.URL.split("#")[1].split("=")[1];

  $.ajax({
    type: 'GET',
    url: "{{app_url}}/save_token?token="+token,
  })
  .done(function( msg ) {
    $('#msg')[0].innerHTML = msg;
    setInterval(redirect, 2000);
  })
  .fail(function(jqXHR, textStatus) {
    $('#msg')[0].innerHTML = "Algo ha pasado con el registro del token, pero si has recibido un pushbullet es que ha funcionado";
    setInterval(redirect, 2000);
  });

});
    </script>
  </body>
</html>
